@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}




 .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  background: red;
  border-radius: 50%;
} 

 .autoplay-progress svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.autoplay-progress circle {
  stroke: white;
  stroke-width: 4;
  fill: none;
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
  transition: stroke-dashoffset 0.5s linear;
} 
span.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: white;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1.0);
}
span.swiper-pagination-bullet-active{
  background: green;
}
.swiper-pagination {
  position: absolute;
  text-align: left !important;
  margin-left: 20px;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper.swiper-cards {
  overflow: visible;
}




